.box {
  margin: 4%;
  font-weight: 200;
  width: 450px;
  height: 350px;
  display: inline-block;
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 12px;
  box-shadow: 0 4px 6px 4px rgba(161, 161, 161, 0.4);
}

.box-header {
  text-transform: capitalize;
  overflow-wrap: break-word;
  color: #6c7992;
  margin-top: -8%;
  text-align: center;
  width: 100%;
  height: 20%;
  font-size: 3.2rem;
}

.box-content {
  margin-top: 16%;
  text-align: center;
  width: 100%;
  height: 76%;
  font-size: 2.2rem;
}

.winnerButton {
  color: rgba(116, 116, 116, 0.213);
  cursor: pointer;
  float: right;
  margin-right: 10px;
  margin-top: -76px;
  border: none;
  outline: 0;
  font-size: 3rem;
}

.winnerButton:hover {
  color: rgb(110, 184, 0);
  background-color: white;
}

.deleteButton {
  color: rgba(116, 116, 116, 0.213);
  cursor: pointer;
  float: left;
  margin-left: 6px;
  margin-top: -76px;
  border: none;
  outline: 0;
  font-size: 1.8rem;
}

.deleteButton:hover {
  color: rgb(201, 0, 0);
  background-color: white;
}
