.dialog {
  background-color: #b60000;
  color: white;
  display: table;
  width: auto;
  height: 40%;
  padding: 12px;
  font-size: 1.7rem;
  font-weight: 300;
  outline: 0;
  margin-top: 1%;
  margin-left: 38%;
  font-weight: 300;
  -webkit-animation: animate 5s forwards;
  animation: animate 5s forwards;
}

.dialog-winner {
  border-radius: 25px;
  box-shadow: 0 3px 5px 3px rgba(161, 161, 161, 0.4);
  background-color: #81c6f594;
  color: white;
  display: table;
  width: auto;
  height: 75%;
  padding: 30px;
  font-size: 3.5rem;
  letter-spacing: 10pt;
  word-spacing: 7pt;
  font-weight: 300;
  outline: 0;
  margin-top: 2%;
  margin-left: 36%;
  font-weight: 300;
  text-transform: uppercase;
}

.dialog > i {
  margin-right: 12px;
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes animate {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
